debug
debug/moc/moc_dialogbitplane.cpp
debug/moc/moc_dialoggrayscalethreshold.cpp
debug/moc/moc_dialoghistogram.cpp
debug/moc/moc_dialoglinearpointoperation.cpp
debug/moc/moc_dialoglogtransformation.cpp
debug/moc/moc_dialogpowertransformation.cpp
debug/moc/moc_dialogquantifylevel.cpp
debug/moc/moc_dialogrotation.cpp
debug/moc/moc_dialogsamplingrate.cpp
debug/moc/moc_dialogscaling.cpp
debug/moc/moc_dialogtranslation.cpp
debug/moc/moc_FilterMethod.cpp
debug/moc/moc_mainwindow.cpp
debug/moc/moc_predefs.h
debug/moc/moc_qcustomplot.cpp
debug/obj/ColorMethod.o
debug/obj/dialogbitplane.o
debug/obj/dialoggrayscalethreshold.o
debug/obj/dialoghistogram.o
debug/obj/dialoglinearpointoperation.o
debug/obj/dialoglogtransformation.o
debug/obj/dialogpowertransformation.o
debug/obj/dialogquantifylevel.o
debug/obj/dialogrotation.o
debug/obj/dialogsamplingrate.o
debug/obj/dialogscaling.o
debug/obj/dialogtranslation.o
debug/obj/EdgeMethod.o
debug/obj/FilterMethod.o
debug/obj/FormatMethod.o
debug/obj/main.o
debug/obj/mainwindow.o
debug/obj/moc_dialogbitplane.o
debug/obj/moc_dialoggrayscalethreshold.o
debug/obj/moc_dialoghistogram.o
debug/obj/moc_dialoglinearpointoperation.o
debug/obj/moc_dialoglogtransformation.o
debug/obj/moc_dialogpowertransformation.o
debug/obj/moc_dialogquantifylevel.o
debug/obj/moc_dialogrotation.o
debug/obj/moc_dialogsamplingrate.o
debug/obj/moc_dialogscaling.o
debug/obj/moc_dialogtranslation.o
debug/obj/moc_FilterMethod.o
debug/obj/moc_mainwindow.o
debug/obj/moc_qcustomplot.o
debug/obj/qcustomplot.o
debug/obj/SharpenMethod.o
debug/obj/smoothmethod.o
debug/obj/SpectrogramMethod.o
bin/picop
